body {
    
}

.logo-img {
    width:35px;
    height:auto;
    margin-right:10px;
}

.logo-mini .logo-img {
    margin-right:0;
}

table.change-tr-color tr:hover {
    background-color: #9edff1;
}

tr.selected {
    background-color: #9edff1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}