@page
@model UserListModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "用户管理";
}

@section head{
    <link href="~/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/account/userlist.css" rel="stylesheet" />
}

<section class="content-header">
    <h1>
        用户管理
        <small>账户管理</small>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="form-group">
                        <label>用户名：</label>
                        <input type="text" class="form-control" style="width:100px" id="input-username">
                    </div>

                    <div class="form-group">
                        <label class="search-style-marginLg">联系方式：</label>
                        <input type="text" class="form-control" style="width:100px" id="input-phone">
                    </div>

                    <div class="form-group">
                        <label>性别：</label>
                        <select class="form-control" style="width:100px" >
                            <option>全部</option>
                            <option>男</option>
                            <option>女</option>
                        </select>
                    </div>
                    <a class="btn btn-default fr">
                        <i class="fa fa-search"></i> 搜索
                    </a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="userListTable" class="table table-bordered change-tr-color">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>用户名</th>
                                <th>登录名</th>
                                <th>性别</th>
                                <th>联系方式</th>
                                <th>注册时间</th>
                                <th>是否启用</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>

@section Scripts{
    <script src="~/adminlte/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>

        var table = $('#userListTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": function (data, callback, settings) {

                //data的参数参考： https://segmentfault.com/a/1190000004478726
                var param = {};
                param.draw = data.draw;
                param.pageNum = (data.start / data.length) + 1;
                param.pageSize = data.length;
                $.ajax({
                    type: "GET",
                    data: param,
                    url: "/Account/UserList?handler=UserPage",
                    dataType: "json",
                    success: function (data) {
                        //成功后回调自动渲染
                        callback(data);
                    }
                });
            },
            'columns': [
                { 'data': 'id' },
                { 'data': 'name' },
                { 'data': 'userName' },
                { 'data': 'sexString' },
                { 'data': 'phone' },
                { 'data': 'createTime' },
                {
                    'data': 'enableString',
                    'render': function (data, type, row) {
                        if (row.enable == 1)
                            return '<span style="color:#19be6b" >' + row.enableString + '</span>';
                        else
                            return '<span style="color:#ed3f14" >' + row.enableString + '</span>';
                    }
                },
                {
                    'data': null,
                    'render': function (data, type, row) {
                        return '<i class="fa fa-pencil-square text-navy fa-lg " id="' + row.id + '"></i>  ' +
                            '<i class="fa fa-trash text-danger fa-lg " id="' + row.id + '"></i>';
                    }
                },
            ],
            'paging': true,         //启用分页
            'lengthChange': true,   //设置每页数量
            'searching': false,
            'ordering': false,
            'info': true,
            'autoWidth': false,
            //设置中文
            'language': {
                "sProcessing": "玩命加载中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "玩命加载中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            }
        });


        //给行绑定选中事件
        $('#userListTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
        function GetUserList() {
            $.ajax({
                type: "GET",
                url: "/Account/UserList?handler=UserPage",
                contentType: "application/json",
                success: function (data) {
                    return data;
                },
                error: function (error) {
                    alert(error.status + "<--and--> " + error.statusText);
                }
            });
        };
    </script>
}