@page
@Html.AntiForgeryToken()
@model UserListModel
@{
    ViewData["Title"] = "用户管理";
}

@section head{
    <link href="~/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/adminlte/plugins/iCheck/all.css" rel="stylesheet" />
    <link href="~/css/account/userlist.css" rel="stylesheet" />
}

<section class="content-header">
    <h1>
        用户管理
        <small>账户管理</small>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- 条件 -->
                <div class="box-header">
                    <div class="row-item">
                        <div class="col-item">
                            <input type="text" class="form-control form-control-cover" placeholder="用户名" style="width:100px" id="input-name">
                        </div>

                        <div class="col-item">
                            <input type="text" class="form-control form-control-cover" style="width:150px" placeholder="联系方式" id="input-phone">
                        </div>

                        <div class="col-item">
                            <select class="form-control form-control-cover" style="width:120px" id="select-sex">
                                <option value="-1">所有性别</option>
                                <option value="1">男</option>
                                <option value="0">女</option>
                            </select>
                        </div>
                        <div class="col-item">
                            <a class="btn btn-default fr" id="btn-search">
                                <i class="fa fa-search"></i> 搜索
                            </a>
                        </div>
                    </div>

                    <!-- 新增用户 -->
                    <div class="row-item">
                        <div class="col-item">
                            <button type="button" class="btn btn-info" id="btn_add" @*data-toggle="modal" data-target="#modal-default" *@>
                                <i class="fa fa-user-plus"> 新增用户</i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="userListTable" class="table table-bordered change-tr-color">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>姓名</th>
                                <th>账户</th>
                                <th>性别</th>
                                <th>联系方式</th>
                                <th>注册时间</th>
                                <th>是否启用</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>

    <!-- 修改信息的弹窗 start -->
    <div class="modal fade" id="userinfo-dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">用户信息</h4>
                </div>
                <div class="modal-body">
                    <div class="col-item fl" style="width:50%">
                        <div class="row-item">
                            <label>ID：</label>
                            <label type="text" style="width:100px" id="user-id">0</label>
                        </div>
                        <div class="row-item">
                            <label>账户：</label>
                            <input type="text" id="user-username" class="form-control form-control-cover fa danger" placeholder="用户名" style="width:200px">
                        </div>
                        <div class="row-item">
                            <label>密码：</label>
                            <input type="password" id="user-password" class="form-control form-control-cover fa danger" placeholder="密码" style="width:200px" value="12345678">
                        </div>
                        <div class="row-item">
                            <label>姓名：</label>
                            <input type="text" id="user-name" class="form-control form-control-cover" placeholder="姓名" style="width:200px">
                        </div>
                        <div class="row-item">
                            <label>性别：</label>
                            <label>
                                <input type="radio" name="input-sex" class="minimal" checked value="1">男
                            </label>
                            <label>
                                <input type="radio" name="input-sex" class="minimal-red" value="0">女
                            </label>
                        </div>
                        <div class="row-item">
                            <label>联系方式：</label>
                            <input type="text" id="user-phone" class="form-control form-control-cover" placeholder="联系方式" style="width:170px">
                        </div>
                    </div>
                    <div class="col-item fr" style="width:45%"> 
                        <div class="row-item">
                            <label>用户头像：</label>
                            <div class="user-img">
                                <img id="user-img" src="~/images/userHeader/default-user-image.jpg" onerror='this.src="~/images/userHeader/default-user-image.jpg"'/>
                            </div>
                            <input type="file" id="input-userimg" onchange="uploadfile()">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary" onclick="save()">保存</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- 修改信息的弹窗 end -->
</section>

@section Scripts{
    <script src="~/adminlte/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/adminlte/plugins/iCheck/icheck.min.js"></script>
    <script src="~/js/account/userlist.js"></script>
    <script>
        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        })
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-red',
            radioClass: 'iradio_minimal-red'
        })
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        })

        //upload img
        function uploadfile() {
            var file = $("#input-userimg")[0].files[0];
            var data = new FormData();
            data.append('file', file);
            $.ajax({
                url: "/Account/UserList?handler=Upload",
                type: 'POST',
                data: data,
                contentType: false,
                processData: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (returndata) {
                    $("#user-img").attr('src', returndata.path); 
                },
                error: function (a, b, c) {
                    alert('上传失败')
                }
            });
        };
    </script>
}